$dark-1: var(--dark-1);
$dark-2: var(--dark-2);
$light-1: var(--light-1);
$light-2: var(--light-2);

.layout {
  position: relative;
  height: auto;
  height: 100vh;
  width: 100vw;
  overflow-y: scroll;
  scroll-behavior: smooth;
  background-color: $dark-1;
  color: $light-1;
}