$dark-1: var(--dark-1);
$dark-2: var(--dark-2);
$light-1: var(--light-1);
$light-2: var(--light-2);


.experience-container {
  position: relative;
  height: 100vh;
  width: 100%;
  padding: 5rem 0 0 10rem;
  opacity: 0;
  // background-color: orange;
  // border: 1px solid red;

  // .experience-show-mark {position: absolute; top: 50%;}

  .experience-header {
    position: relative;
    font-size: 1.75rem;
    width: 100%;
    font-family: headerBold;
    
    &::after {
      content: '';
      position: absolute;
      left: 13rem;
      top: 50%;
      height: 0.5px;
      width: 74%;
      background-color: $light-2;
    }

    span {
      font-size: 1.25rem;
      margin-right: 0.3rem;
      letter-spacing: 2px;
      font-family: firacode;
      color: $light-1;
    }
  }

  .experience-info {
    position: relative;
    display: flex;
    justify-content: space-between;
    height: max-content;
    width: 100%;
    padding: 4rem 0 0 0;

    .experience-left {
      position: relative;
      height: max;
      width: 25%;
      // padding-left: 1rem;

        &::before {
          content: '';
          position: absolute;
          left: 1px;
          height: 100%;
          min-height: 26.2rem;
          width: 0.5px;
          background-color: $light-2;
          z-index: 1;
        }
      
      .company-names {
        padding: 0.3rem 1rem;
        margin: 0 0 0.5rem 0;
        cursor: pointer;
        color: $light-2;
      }
      
      .selected-company {
        color: $light-1;
        position: relative;
        &::before {
          content: '';
          position: absolute;
          left: 0.2px;
          top: 0%;
          height: 100%;
          width: 2.5px;
          border-radius: 0.5rem;
          background-color: $light-1;
          z-index: 1;
        }
      }
    }

    .experience-right {
      display: none;
    }

    .experience-title {
      color: #fff;
    }

    .experience-right-selected {
      display: block;
      position: absolute;
      top: 4rem;
      right: 0;
      height: auto;
      width: 83%;
      color: $light-2;
      font-size: 0.9rem;
      text-align: justify;
      animation-name: experience_right_fade_in;
      animation-duration: 0.5s;
      animation-fill-mode: forwards;
      transition: all 1s ease-in-out;
    }
  }
}

@keyframes experience_right_fade_in {0%{opacity: 0.5;} 100%{opacity: 1;}}

// tablet mode
@media screen and (max-width: 1250px) {
  .experience-container {
    height: auto;
    min-height: 100vh;
    padding: 10rem 0;
  }
}


// phone
@media screen and (max-width: 800px) {
  .experience-container {
    min-height: 100vh;
    height: auto;

    .experience-header {
      text-align: center;
      &::after {
        display: none;
        left: 10rem;
        width: 45%;
      }
    }

    .experience-info {
      flex-wrap: wrap;

      .experience-left {
        width: 100%; 
        margin-bottom: 2rem;
        display: flex;

        &::before {
          content: '';
          position: absolute;
          bottom: 6px;
          left: 1px;
          height: 0.5px;
          min-height: 0.5px;
          max-height: 0.5px;
          width: 100%;
          background-color: $light-2;
          z-index: 1;
        }

        .company-names {
          padding: 0.75rem 0.3rem;
          margin-right: 0.5rem;
        }

        .selected-company {
          position: relative;
          &::before {
            top: 98%;
            left: 0;
            height: 2.5px;
            width: 100%;
          }
        }
      }

      .experience-right {
        width: 100%;
        display: none;
      }
      .experience-right-selected {
        position: relative;
        width: 100%;
        top: -1rem;
        padding-bottom: 0rem;
      }
    }
  }
}