@import url("menuButton.css");
@import url("var.css");
@font-face {
  font-family: Regular;
  src: url("../../src/font/NuntioSans/NunitoSans-Regular.ttf");
}
@font-face {
  font-family: ExtraBold;
  src: url("../../src/font/NuntioSans/NunitoSans-Black.ttf");
}
* {
  font-family: Regular;
  box-sizing: border-box;
}

h1, h2, h3, h1 span {
  font-family: ExtraBold;
}

body {
  position: relative;
  margin: 0;
  background-color: var(--bg);
  color: var(--headText);
}

/*|| HEADER NAV BAR*/
.header {
  position: absolute;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 5rem;
  width: 100%;
  padding: 0 1rem;
  background-color: var(--bg);
  z-index: 6;
  /*
  // index is at 5 because it should be above all other elements.
  // it changes to 6 when the button is clicked so it is above nav also.
  */
  transition: top 0.5s;
}
.header #siteName {
  font-size: 0.7rem;
  font-family: ExtraBold;
  font-weight: 900;
}
.header #navMobile {
  position: relative;
}

/*|| HERO CONTENTS*/
.heroContent {
  display: flex;
  height: 100vh;
  padding: 8rem 1rem 0 1rem;
}
.heroContent #heroText {
  width: 100%;
}
.heroContent #heroText h1, .heroContent #heroText h1 span {
  line-height: 3.1rem;
  font-size: 3.1rem;
  font-weight: 900;
}
.heroContent #heroText .col {
  color: var(--col);
}

/*|| BUTTON */
.btn {
  padding: 0.5rem 1rem;
  color: var(--col);
  background-color: transparent;
  border: 2px solid var(--col);
  border-radius: 0.5rem;
  font-size: 1.1rem;
}

.teo {
  color: var(--btnCol);
  background-color: var(--col);
}

/*|| SECTION*/
.section {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column wrap;
  padding: 0.5rem 1rem 2rem 1rem;
  margin-bottom: 10rem;
}
.section .sectionHeading {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-bottom: 7rem;
  color: var(--col);
  white-space: nowrap;
  font-size: 2.5rem;
  font-family: ExtraBold;
}
.section .sectionHeading::before, .section .sectionHeading::after {
  content: "";
  width: 100%;
  height: 4px;
  border-radius: 0.3rem;
  margin: 0 0.5rem;
  background-color: grey;
}
.section .sectionIn {
  margin-bottom: 7rem;
}
.section .sectionIn:last-child {
  margin-bottom: 0;
}
.section .sectionIn .demoView {
  height: 12rem;
  width: 100%;
  background: var(--unAvail);
  border-radius: 0.5rem;
}
.section .sectionIn .demoHeading {
  font-size: 1.5rem;
}

.demoDescription, p, #socialMedia span {
  font-size: 1.2rem;
  color: var(--paraCol);
}

#aboutMe .sectionIn {
  display: flex;
  align-items: center;
  flex-flow: column wrap;
}
#aboutMe .sectionIn #myPhoto {
  height: 25rem;
  width: 80%;
  background: var(--unAvail);
  border-radius: 0.5rem;
  margin-bottom: 1rem;
}

/*|| FOOTER */
.footer {
  margin-bottom: 7rem;
}
.footer #whyMe {
  text-align: center;
  margin-bottom: 5rem;
}
.footer #whyMe button {
  margin-top: 1rem;
}
.footer #socialMedia {
  display: flex;
  justify-content: center;
  width: 100%;
}
.footer #socialMedia ul {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  margin: 0;
  padding: 0;
}
.footer #socialMedia ul li {
  list-style-type: none;
}
.footer #socialMedia ul li svg {
  height: 2.5rem;
}
.footer #socialMedia ul li svg path {
  fill: var(--paraCol);
}
.footer #socialMedia ul li svg:hover path {
  fill: var(--headText);
}

#dev {
  text-align: center;
  padding: 1rem;
  color: var(--paraCol);
}
