:root {
  --bg: rgb(18,18,18);
  --col: #6562fd;
  --paraCol: rgb(200,200,200);
  --headText: white;
  --btnCol: white;
  --unAvail: linear-gradient(45deg, grey 50%, rgb(179, 179, 179), grey);
  --shadow: grey;
}


/* :root {
  --bg: white;
  --col: #6562fd;
  --paraCol: rgb(20,20,20);
  --headText: #222;
  --btnCol: #fff;
  --unAvail: linear-gradient(45deg, grey 50%, rgb(179, 179, 179), grey);
  --shadow: grey;
} */