$dark-1: var(--dark-1);
$dark-2: var(--dark-2);
$light-1: var(--light-1);
$light-2: var(--light-2);

.project-container {
  position: relative;
  height: 100vh;
  width: 100%;
  padding: 5rem 10rem 0 5rem;
  opacity: 0;
  // background-color: red;

  // .project-show-mark {position: absolute; top: 50%;}

  .project-header {
    position: relative;
    font-size: 1.75rem;
    width: 100%;
    font-family: headerBold;
    
    &::after {
      content: '';
      position: absolute;
      left: 10rem;
      top: 50%;
      height: 0.5px;
      width: 70%;
      background-color: $light-2;
    }

    span {
      font-size: 1.25rem;
      margin-right: 0.3rem;
      letter-spacing: 2px;
      font-family: firacode;
      color: $light-1;
    }
  }
}




// tablet mode
@media screen and (max-width: 1250px) {
  .project-container {
    height: 70vh;
  }
}

// phone
@media screen and (max-width: 800px) {
  .project-container {
    height: 100vh;
    // height: auto;
    padding: 5rem 0 20rem 0;

    .project-header {
      text-align: center;
      &::after {
        display: none;
      }
    }

    .project-info {
      padding: 5rem 0;
      text-align: center;

      .project-left {width: 100%;order: 2;}
      .project-right {width: 100%;order: 1;margin-bottom: 2rem;}
    }
  }
}